@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 10 10 10;
    --foreground: 255 255 255;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

body {
  color: rgb(var(--foreground));
  background: linear-gradient(to bottom, #0a0a0a, #101018, #1e1e2e);
  font-family: var(--font-inter), sans-serif;
  min-height: 100vh;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0a0a0a;
}

::-webkit-scrollbar-thumb {
  background: #0ea5e9;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #0284c7;
}